<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.SubjectMapper">
<!-- 科目情報 全検索 -->
<select id="findAll" resultType="com.example.demo.entity.SubjectEntity">
	SELECT
	    id,
	    subject
	FROM
	    subject
	ORDER BY id

</select>
<!-- 科目情報 新規登録 -->
<insert id="save" parameterType="com.example.demo.entity.SubjectEntity">
	INSERT INTO subject (
            subject
	) VALUES (
           #{subject}
	)
</insert>

<!-- 科目情報 主キー検索 -->
<select id="getOne" parameterType="Integer" resultType="com.example.demo.entity.SubjectEntity">
	SELECT
            id,
	    subject
	FROM
	    subject
	WHERE
	    id = #{id}
</select>

<!-- 科目情報 更新 -->
<update id="editUpdate" parameterType="com.example.demo.entity.SubjectEntity">
        UPDATE
	    subject
        SET
	    subject = #{subject}
        WHERE
	    id = #{id}
</update>

<!-- 科目情報 削除 -->
<delete id="delete" parameterType="Integer">
	DELETE FROM
	    subject
	WHERE
    	    id = #{id}
</delete>

</mapper>